<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanchipman.nfclock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ryanchipman.nfclock.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ryanchipman.nfclock.AlarmsActivity"
            android:label="@string/title_activity_alarms" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ryanchipman.nfclock.AlarmDetailActivity"
            android:label="@string/title_activity_alarm_detail"
            android:parentActivityName="com.ryanchipman.nfclock.AlarmsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ryanchipman.nfclock.AlarmsActivity" />
        </activity>
        <receiver android:name=".alarm.AlarmBootReceiver"
		          android:enabled="false">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED"></action>
		    </intent-filter>
		</receiver>
		<receiver android:name=".alarm.AlarmReceiver"
		          android:enabled="true">
		</receiver>
        <service android:name=".alarm.AlarmService"></service>
    </application>

</manifest>
