<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanchipman.ticktocktap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ryanchipman.ticktocktap.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ryanchipman.ticktocktap.AlarmsActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ryanchipman.ticktocktap.AlarmDetailActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_alarm_detail"
            android:parentActivityName="com.ryanchipman.ticktocktap.AlarmsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ryanchipman.nfclock.AlarmsActivity" />
        </activity>

        <receiver
            android:name="com.ryanchipman.ticktocktap.alarm.AlarmBootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ryanchipman.ticktocktap.alarm.AlarmReceiver"
            android:enabled="true" >
        </receiver>

        <service android:name="com.ryanchipman.ticktocktap.alarm.AlarmService" >
        </service>
        <service android:name="com.ryanchipman.ticktocktap.alarm.RingerService" >
        </service>

        <activity
            android:name="com.ryanchipman.ticktocktap.AlarmDismissActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_alarm_dismiss" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="ttt"
                   android:host="wakeup"
                   android:pathPrefix="/now" />
            </intent-filter>
        </activity>
    </application>

</manifest>
